{% extends "layout.html" %}

{% block body%}
<!-- ============================================================================================================================================== -->
<div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- ============================================================================================================================================== -->
<div id=dataTable class="row justify-content-center">
  <div class="col-auto">
    <div class="container">
      <div class="row justify-content-center">
        <p id="singlePrediction"> Single data point prediction</p>
      </div>
    </div>
    <table class="table table-borderless ">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">Temperature</th>
            <th scope="col">Pressure</th>
            <th scope="col">VibrationX</th>
            <th scope="col">VibrationY</th>
            <th scope="col">VibrationZ</th>
            <th scope="col">Frequency</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <form autocomplete="off" action='/predict' method="POST">
              <td><input type="text" name="Temperature" class="form-control" placeholder="Temperature" style="width:120px;">
              </td>
              <td><input type="text" name="Pressure" class="form-control" placeholder="Pressure" style="width:100px;">
              </td>
              <td><input type="text" name="VibrationX" class="form-control" placeholder="VibrationX" style="width:100px;">
              </td>
              <td><input type="text" name="VibrationY" class="form-control" placeholder="VibrationY" style="width:100px;">
              </td>
              <td><input type="text" name="VibrationZ" class="form-control" placeholder="VibrationZ" style="width:100px;">
              </td>
              <td><input type="text" name="Frequency" class="form-control" placeholder="Frequency" style="width:100px;">
              </td>
          </tr>
        </tbody>
      </table>
    </table>

    <div class="container">
      <div class="col text-center">
        <input type="submit" value="Predict" class="btn btn-primary" style="font-size: 18px; margin-top:0px">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================================================================================================== -->

<div id=multidataTable class="row justify-content-center">
  <div class="col-auto">
    <div class="container">
      <div class="row justify-content-center">
        <p id="singlePrediction"> Multiple data point prediction</p>
      </div>
    </div>
    <table class="table table-borderless ">
      <table class="table table-responsive">
        <thead>
          <tr>
            <form action='/multi_predict' method='POST' enctype="multipart/form-data">
              <th><input type="file" name='test_file' class="form-control-file" id="loadcsv"></th>

              <th><input id=predictButton type="submit" value=Predict class="btn btn-primary"></th>
            </form>
            <form action='/download' method='POST'>
              <th><input type="submit" class="btn btn-primary" value=Download></th>
            </form>
          </tr>
        </thead>
      </table>
    </table>
  </div>
</div>
</div>

{% endblock %}